# MongoDB connection string (local or cloud)
MONGO_URI=mongodb://localhost:27017/

#Name of the MongoDB database
MONGO_DB= WalmartScraped

# Collection names
TASKS_COLLECTION=tasks
PRODUCTS_COLLECTION=products

